html, body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height 100vh;
}

body{
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: ceil(0,0);
  font 14px;
  color: #4d4d4d;
  font-weight: 300;
}